html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  background: #090909;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section.pro {
  margin-top: 160px;
}

section.pro img {
  width: 100px;
}

section.pro img.photo {
  border-radius: 100%;
}

section.pro .img-separator {
  display: inline-block;
  margin: 20px;
  height: 50px;
  border-right: 1px solid #1793D1;
}

section.pro .name {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
}

section.pro .text {
  display: block;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: 7.6px;
  opacity: .7;
  color: #1793D1;
}

.logo-blue {
  color: #1793D1;
}
.logo-grey {
  color: #4D4D4D;
}
